In [123]:
import json
import pandas as pd
import numpy as np

In [124]:
data_list = []

with open('MCF7_directRNA_replicate4_run1.json', 'r') as json_file:
    for line in json_file:
        data = json.loads(line)
        data_list.append(data)

In [125]:
def explore_dataset(data_list):
    results = []
    for data in data_list:
        trans_id, first = next(iter(data.items()))
        position, second = next(iter(first.items()))
        sequence, data = next(iter(second.items()))

        avg = np.mean(data, axis=0)
        med = np.median(data, axis=0)
        #smallest = np.min(data, axis=0)
        #largest = np.max(data, axis=0)
        std = np.std(data, axis=0)

        result = [trans_id, position, sequence] + list(avg)+ list(med) + list(std)
        results.append(result)

        #result=[trans_id, position, sequence]
        #results += list(avg)+ list(med) + list(smallest) + list(largest)+ list(std)

    return results

results = explore_dataset(data_list)

In [126]:
result_df = pd.DataFrame(results)

In [127]:
result_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,R2_55_2,37,GAAACTG,0.013280,2.486500,108.45,0.007289,2.399736,110.30,0.006455,...,94.75,0.010960,0.669500,2.95,0.002639,0.283264,0.90,0.002805,0.225740,0.55
1,R2_55_2,45,TAAACTA,0.005917,2.354617,107.55,0.005356,2.018633,106.20,0.003779,...,94.70,0.001597,0.864617,1.95,0.000706,0.192367,0.10,0.000223,0.096526,0.20
2,R2_55_2,226,CAAACAA,0.013610,2.159500,106.65,0.003485,2.634500,100.25,0.005007,...,89.05,0.009960,0.034500,1.15,0.001165,0.555500,1.05,0.000607,0.089186,0.35
3,R2_55_2,306,TAAACAT,0.012195,4.587507,103.95,0.003320,1.966500,97.50,0.008359,...,89.10,0.005506,2.340816,1.35,0.000330,0.437500,4.50,0.003636,0.031666,0.20
4,R2_55_2,314,TGAACCA,0.006103,7.716143,119.55,0.006192,3.655877,94.95,0.006354,...,85.40,0.001946,2.300023,1.35,0.003059,0.515623,2.55,0.001286,0.106800,0.60

In [128]:
        
colnames = ['transcript_id', 'transcript_position', 'sequence']
for i in ['avg', 'med','std']:
    for j in ['1-flank', 'central', '1+flank']:
        for q in ["length", "std", "mean"]:
            colnames.append(i + '_' + j + '_' + q)

result_df.columns = colnames

In [129]:
result_df.shape

(1446022, 30)

In [130]:
result_df['transcript_position'] = result_df['transcript_position'].astype(int)

In [131]:
result_df.head()

,transcript_id,transcript_position,sequence,avg_1-flank_length,avg_1-flank_std,avg_1-flank_mean,avg_central_length,avg_central_std,avg_central_mean,avg_1+flank_length,...,med_1+flank_mean,std_1-flank_length,std_1-flank_std,std_1-flank_mean,std_central_length,std_central_std,std_central_mean,std_1+flank_length,std_1+flank_std,std_1+flank_mean
0,R2_55_2,37,GAAACTG,0.013280,2.486500,108.45,0.007289,2.399736,110.30,0.006455,...,94.75,0.010960,0.669500,2.95,0.002639,0.283264,0.90,0.002805,0.225740,0.55
1,R2_55_2,45,TAAACTA,0.005917,2.354617,107.55,0.005356,2.018633,106.20,0.003779,...,94.70,0.001597,0.864617,1.95,0.000706,0.192367,0.10,0.000223,0.096526,0.20
2,R2_55_2,226,CAAACAA,0.013610,2.159500,106.65,0.003485,2.634500,100.25,0.005007,...,89.05,0.009960,0.034500,1.15,0.001165,0.555500,1.05,0.000607,0.089186,0.35
3,R2_55_2,306,TAAACAT,0.012195,4.587507,103.95,0.003320,1.966500,97.50,0.008359,...,89.10,0.005506,2.340816,1.35,0.000330,0.437500,4.50,0.003636,0.031666,0.20
4,R2_55_2,314,TGAACCA,0.006103,7.716143,119.55,0.006192,3.655877,94.95,0.006354,...,85.40,0.001946,2.300023,1.35,0.003059,0.515623,2.55,0.001286,0.106800,0.60

In [132]:
file_path = "MCF7_directRNA_replicate4_run1_reading.csv"

result_df.to_csv(file_path, index=False)

In [133]:
result_df.shape

(1446022, 30)